body {
    background-color:lightcyan;
}

form {
    label {
        display: flex;
        flex-direction: column;
    }

    button {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
        cursor: pointer;
    }
}

.pure-g {
    h1, h2 {
        text-align: center;
    }
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

.header, .footer {
    background-color: lightpink;
}

.content {
    background-color: lightblue;
}

.ad, .menu {
    background-color: lightgray;
}


.content form {
    width: 400px;
    margin: 0 auto;   /* centers the form */
    padding: 1rem;
    border-radius: 6px;
}
